.BuildControls {
    width: 100%;
    /* height: 42%; */
    /* background-color: #CF8F2E; */
    display: flex;
    flex-flow: column;
    align-items: center;
    /* box-shadow: 0 2px 1px #ccc; */
    /* margin: auto; */
    margin-bottom: 0;
    /* padding: 15.5px 0; */
    /* width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto; */
}

@media (min-width: 1000px) {
    .BuildControls {
        padding: 10px 0;
        height: 41.6vh;
        padding-bottom: 35px;
    }
}

@media (max-height: 688px) {
    .BuildControls {
        height: 100%;
    }
}

.totalPrice {
    color: #222;
    font-size: 1.2em;
    width: 290px;
}

.totalPrice p {
    display: inline;
    justify-content: space-between;
    margin-right: 117px;
}

.OrderButton {
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: #F9E02A;
    outline: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2em;
    padding: 20px 0px;
    width: 300px;
    border-radius: 7.5px;
}

.OrderButton:hover, .OrderButton:active {
    position: relative; 
    top: -1px;
    box-shadow: 2px 5px 2px #eee;
}

.OrderButton:disabled {
    background-color: #dbdfe2;
    cursor: not-allowed;
    color: #B3B6B8;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}