.Burger {
    width: 300px;
    margin: auto;
    height: 275px;
    /* overflow: scroll; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.BurgerParent {
    padding-top: 50px;
    background-image: url("../../../src/assets/images/background.jpg");
    background-size: cover;
    height: 315px;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 250px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        padding-top: 8vh;
        padding-bottom: 5.4vh;
        width: 350px;
        height: 25vh;
    }
    .BurgerParent {
        height: 45vh;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 400px;
        height: 25vh;
    }
}

@media (min-width: 1600px) {
    .BurgerParent {
        height: 48.5vh;
        background-position-y: -200px;
        width: 1920px;
    }
}