.Burger {
    width: 100%;
    margin: auto;
    /* margin-top: 60px; */
    height: 250px;
    /* overflow: scroll; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

    flex-flow: wrap;
    justify-content: center;
    /* flex-grow: 1; */
}

.BurgerParent {
    /* height: 100%; */
    height: 65vh;
    width: 100%;
    overflow-y: scroll;
    padding-right: 34px;
    box-sizing: content-box;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}

@media (max-height: 688px) and (min-width: 500px) {
    .Burger {
        width: 65%;
        height: 55vh;
        /* margin: auto; */
        /* margin-top: 60px; */
    }
}