.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #df7834;
    /* padding: 32px 16px; */
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.55);
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%)
}

.Logo {
    height: 11%;
    background-color: #4b2808;
    padding: 10px;
}